<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID"
	version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>javaskweb</display-name>
	<listener>
		<listener-class>jsdt.action.TaskListener</listener-class>
	</listener>
	<servlet>
		<display-name>InitSystemServlet</display-name>
		<servlet-name>InitSystemServlet</servlet-name>
		<servlet-class>jsdt.action.InitSystemServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<display-name>pmszServlet</display-name>
		<servlet-name>pmszServlet</servlet-name>
		<servlet-class>jsdt.action.system.pmszServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>fpServlet</display-name>
		<servlet-name>fpServlet</servlet-name>
		<servlet-class>jsdt.action.system.fpServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>zclxServlet</display-name>
		<servlet-name>zclxServlet</servlet-name>
		<servlet-class>jsdt.action.system.zclxServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>jqxhServlet</display-name>
		<servlet-name>jqxhServlet</servlet-name>
		<servlet-class>jsdt.action.system.jqxhServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>hyServlet</display-name>
		<servlet-name>hyServlet</servlet-name>
		<servlet-class>jsdt.action.system.hyServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>hymxServlet</display-name>
		<servlet-name>hymxServlet</servlet-name>
		<servlet-class>jsdt.action.system.hymxServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>taxpayerServlet</display-name>
		<servlet-name>taxpayerServlet</servlet-name>
		<servlet-class>
			jsdt.action.taxpayer.taxpayerServlet
		</servlet-class>
	</servlet>
	<servlet>
		<display-name>swjgServlet</display-name>
		<servlet-name>swjgServlet</servlet-name>
		<servlet-class>jsdt.action.system.swjgServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>userServlet</display-name>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>jsdt.action.system.userServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>roleServlet</display-name>
		<servlet-name>roleServlet</servlet-name>
		<servlet-class>jsdt.action.system.roleServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>taxpayerTyServlet</display-name>
		<servlet-name>taxpayerTyServlet</servlet-name>
		<servlet-class>
			jsdt.action.taxpayer.taxpayerTyServlet
		</servlet-class>
	</servlet>
	<servlet>
		<display-name>fplgServlet</display-name>
		<servlet-name>fplgServlet</servlet-name>
		<servlet-class>jsdt.action.invoice.fplgServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>ReadUserCardServlet</display-name>
		<servlet-name>ReadUserCardServlet</servlet-name>
		<servlet-class>jsdt.tools.ReadUserCardServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>ReadInvoiceServlet</display-name>
		<servlet-name>ReadInvoiceServlet</servlet-name>
		<servlet-class>jsdt.tools.ReadInvoiceServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>sjsbTyServlet</display-name>
		<servlet-name>sjsbTyServlet</servlet-name>
		<servlet-class>jsdt.action.sbsj.sjsbTyServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>jdsbTyServlet</display-name>
		<servlet-name>jdsbTyServlet</servlet-name>
		<servlet-class>jsdt.action.sbsj.jdsbTyServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>jkhcTyServlet</display-name>
		<servlet-name>jkhcTyServlet</servlet-name>
		<servlet-class>jsdt.action.sbsj.jkhcTyServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>sbmxTyServlet</display-name>
		<servlet-name>sbmxTyServlet</servlet-name>
		<servlet-class>jsdt.action.sbsj.sbmxTyServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>loginTyServlet</display-name>
		<servlet-name>loginTyServlet</servlet-name>
		<servlet-class>jsdt.action.login.loginTyServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>logoutServlet</display-name>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>jsdt.action.login.logoutServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>sbsjTyServlet</display-name>
		<servlet-name>sbsjTyServlet</servlet-name>
		<servlet-class>jsdt.action.sbsj.sbsjTyServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>fpblServlet</display-name>
		<servlet-name>fpblServlet</servlet-name>
		<servlet-class>jsdt.action.invoice.fpblServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>loginServlet</display-name>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>jsdt.action.login.loginServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>tpqrServlet</display-name>
		<servlet-name>tpqrServlet</servlet-name>
		<servlet-class>jsdt.action.invoice.tpqrServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>bgServlet</display-name>
		<servlet-name>bgServlet</servlet-name>
		<servlet-class>jsdt.action.taxpayer.bgServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>cxNsrxxServlet</display-name>
		<servlet-name>cxNsrxxServlet</servlet-name>
		<servlet-class>jsdt.action.cxtj.cxNsrxxServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>cxFpkjServlet</display-name>
		<servlet-name>cxFpkjServlet</servlet-name>
		<servlet-class>jsdt.action.cxtj.cxFpkjServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>cxSbsjServlet</display-name>
		<servlet-name>cxSbsjServlet</servlet-name>
		<servlet-class>jsdt.action.cxtj.cxSbsjServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>fpxsServlet</display-name>
		<servlet-name>fpxsServlet</servlet-name>
		<servlet-class>jsdt.action.cxtj.fpxsServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>FileUploadServlet</display-name>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>jsdt.action.FileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>cxJqxxServlet</display-name>
		<servlet-name>cxJqxxServlet</servlet-name>
		<servlet-class>jsdt.action.cxtj.cxJqxxServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>cxFplgServlet</display-name>
		<servlet-name>cxFplgServlet</servlet-name>
		<servlet-class>jsdt.action.cxtj.cxFplgServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>CxHzsjServlet</display-name>
		<servlet-name>CxHzsjServlet</servlet-name>
		<servlet-class>jsdt.action.cxtj.CxHzsjServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ReadFiscalCardServlet</display-name>
		<servlet-name>ReadFiscalCardServlet</servlet-name>
		<servlet-class>jsdt.tools.ReadFiscalCardServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ReadCardInfoServlet</display-name>
		<servlet-name>ReadCardInfoServlet</servlet-name>
		<servlet-class>jsdt.action.ReadCardInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>RJYFileUploadServlet</display-name>
		<servlet-name>RJYFileUploadServlet</servlet-name>
		<servlet-class>jsdt.action.RJYFileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>OnlineFileUploadServlet</display-name>
		<servlet-name>OnlineFileUploadServlet</servlet-name>
		<servlet-class>
			jsdt.action.OnlineFileUploadServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>OnlineRjyFileUploadServlet</display-name>
		<servlet-name>OnlineRjyFileUploadServlet</servlet-name>
		<servlet-class>
			jsdt.action.OnlineRjyFileUploadServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>cxRjymxServlet</display-name>
		<servlet-name>cxRjymxServlet</servlet-name>
		<servlet-class>jsdt.action.cxtj.cxRjymxServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>cxYhkServlet</display-name>
		<servlet-name>cxYhkServlet</servlet-name>
		<servlet-class>jsdt.action.cxtj.cxYhkServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>cxSkkServlet</display-name>
		<servlet-name>cxSkkServlet</servlet-name>
		<servlet-class>jsdt.action.cxtj.cxSkkServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>sjyzServlet</display-name>
		<servlet-name>sjyzServlet</servlet-name>
		<servlet-class>jsdt.tools.sjyzServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>cxBywsbServlet</display-name>
		<servlet-name>cxBywsbServlet</servlet-name>
		<servlet-class>jsdt.action.cxtj.cxBywsbServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>SkkFZServlet</display-name>
		<servlet-name>SkkFZServlet</servlet-name>
		<servlet-class>jsdt.action.cxtj.SkkFZServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>InitAjaxForXMLServlet</display-name>
		<servlet-name>InitAjaxForXMLServlet</servlet-name>
		<servlet-class>jsdt.action.InitAjaxForXMLServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitSystemServlet</servlet-name>
		<url-pattern>/InitSystemServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pmszServlet</servlet-name>
		<url-pattern>/pmszServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fpServlet</servlet-name>
		<url-pattern>/fpServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jqxhServlet</servlet-name>
		<url-pattern>/jqxhServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>zclxServlet</servlet-name>
		<url-pattern>/zclxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>hyServlet</servlet-name>
		<url-pattern>/hyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>hymxServlet</servlet-name>
		<url-pattern>/hymxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>taxpayerServlet</servlet-name>
		<url-pattern>/taxpayerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>swjgServlet</servlet-name>
		<url-pattern>/swjgServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/userServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>roleServlet</servlet-name>
		<url-pattern>/roleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>taxpayerTyServlet</servlet-name>
		<url-pattern>/taxpayerTyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fplgServlet</servlet-name>
		<url-pattern>/fplgServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadUserCardServlet</servlet-name>
		<url-pattern>/ReadUserCardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadInvoiceServlet</servlet-name>
		<url-pattern>/ReadInvoiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sjsbTyServlet</servlet-name>
		<url-pattern>/sjsbTyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jdsbTyServlet</servlet-name>
		<url-pattern>/jdsbTyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jkhcTyServlet</servlet-name>
		<url-pattern>/jkhcTyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sbmxTyServlet</servlet-name>
		<url-pattern>/sbmxTyServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>
		</description>
		<display-name>
		nsrmcgxServlet</display-name>
		<servlet-name>nsrmcgxServlet</servlet-name>
		<servlet-class>
		jsdt.action.taxpayer.nsrmcgxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>nsrmcgxServlet</servlet-name>
		<url-pattern>/nsrmcgxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginTyServlet</servlet-name>
		<url-pattern>/loginTyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sbsjTyServlet</servlet-name>
		<url-pattern>/sbsjTyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fpblServlet</servlet-name>
		<url-pattern>/fpblServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>tpqrServlet</servlet-name>
		<url-pattern>/tpqrServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bgServlet</servlet-name>
		<url-pattern>/bgServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cxNsrxxServlet</servlet-name>
		<url-pattern>/cxNsrxxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cxFpkjServlet</servlet-name>
		<url-pattern>/cxFpkjServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fpxsServlet</servlet-name>
		<url-pattern>/fpxsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cxSbsjServlet</servlet-name>
		<url-pattern>/cxSbsjServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/FileUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cxJqxxServlet</servlet-name>
		<url-pattern>/cxJqxxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cxFplgServlet</servlet-name>
		<url-pattern>/cxFplgServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CxHzsjServlet</servlet-name>
		<url-pattern>/CxHzsjServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadFiscalCardServlet</servlet-name>
		<url-pattern>/ReadFiscalCardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadCardInfoServlet</servlet-name>
		<url-pattern>/ReadCardInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RJYFileUploadServlet</servlet-name>
		<url-pattern>/RJYFileUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OnlineFileUploadServlet</servlet-name>
		<url-pattern>/OnlineFileUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OnlineRjyFileUploadServlet</servlet-name>
		<url-pattern>/OnlineRjyFileUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cxRjymxServlet</servlet-name>
		<url-pattern>/cxRjymxServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cxYhkServlet</servlet-name>
		<url-pattern>/cxYhkServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cxSkkServlet</servlet-name>
		<url-pattern>/cxSkkServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sjyzServlet</servlet-name>
		<url-pattern>/sjyzServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cxBywsbServlet</servlet-name>
		<url-pattern>/cxBywsbServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SkkFZServlet</servlet-name>
		<url-pattern>/SkkFZServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitAjaxForXMLServlet</servlet-name>
		<url-pattern>/InitAjaxForXMLServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
 <error-page>
  <error-code>500</error-code>
  <location>/FileNotFound.htm</location>
 </error-page>
</web-app>

